{% extends 'base.html' %}


{% block content %}
<!-- <div class='container'>
  <div class="container-title">
      <div class="jumbotron p-md-5 text-white rounded bg-primary">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Welcome.<br/> Share your thoughts.</h1>
          <p class="lead my-3">How do you feel today?</p>
          <div class='button'>
            <p class="lead mb-0">
              <a href="#" class="text-white font-weight-bold">Write post</a></p>
          </div>
        </div>
      </div>    
   </div>
</div> -->

<div class="row mt-4">
  <div class="col-3">
    &nbsp; <img src="https://uybor.uz/borless/avtobor/img/user-images/user_no_photo_300x300.png" width="25" height="25"
      alt="">&nbsp;
    <strong>{{current_user.username}}</strong>
    </br>
    </br>
    &nbsp; <a href="#" class="list">NEWS FEED</a>
    </br>
    
    &nbsp; <a href="#" class="list mt-5">MESSENGER</a>
    </br>
    
    &nbsp; <a href="#" class="list mt-5">VIDEOS ON WATCH</a>
    <div class="psudo">

    </div>
  </div>



  <div clas="col-9">
    <form method='POST' class='create-post-form' action={{url_for('create_post')}}>
      <p class="card-text">
        <textarea class='create-post-input' name='body'
          placeholder="what's on your mind, {{current_user.username}}?"></textarea>
      </p>
      <button class='ml-auto d-block btn btn-primary' type='submit'>Post</button>
    </form>

    <div class='posts-container'>
      {% for post in posts %}
      <div class='single-post-container'>
        <strong>
          <p class="post-owner">{{post.author.username}}</p>
        </strong>
        <pre class="date">{{post.created}}</pre>
        <h6>{{post.body}}</h6>

        {% if post.author.id == current_user.id %}
        <div class="edit d-flex justify-content-end">
          <a href="{{url_for('single_post', id=post.id, action='edit')}}">
            <button type="button" class="btn btn-primary btn-sm mx-1"> Edit </button>
          </a>
          <form method="POST" action={{url_for('single_post', id=post.id, action='delete')}}>
            <button type="submit" class="btn btn-warning btn-sm"> Delete </button>
          </form>
        </div>
        {% else %}
        {% endif %}
        <hr>

        <div class='single-post-footer'>

          {% for comment in post.comments() %}

          <form method="POST" action={{url_for('delete_comment', id=comment.id)}}>
            <div class="commentgrp d-flex align-items-center">
              <strong>{{current_user.username}}</strong>&nbsp;{{comment.body}} <br />
              <button class="btn btn-sm btn-warning p-0 px-1 mx-2"> delete </button>
            </div>
            <small> {{comment.created_at}}</small> <br />
          </form>

          {% endfor %}

          <form method="POST" action={{url_for('create_comment', post_id = post.id)}}>
            <input type="text" name="body" class="comment mt-3" placeholder="Write a comment..."> </input>
            <button class='btn btn-link'> Comment </button>
          </form>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}